In [2]:
import pandas as pd

In [62]:
dgA = pd.read_csv('archives_data/B. Disease Grading/2. Groundtruths/a. IDRiD_Disease Grading_Training Labels.csv')
dgA

,Image name,Retinopathy grade,Risk of macular edema,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,IDRiD_001,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IDRiD_002,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IDRiD_003,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IDRiD_004,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IDRiD_005,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
408,IDRiD_409,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,IDRiD_410,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410,IDRiD_411,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,IDRiD_412,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,IDRiD_413,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
dgB = pd.read_csv('archives_data/B. Disease Grading/2. Groundtruths/b. IDRiD_Disease Grading_Testing Labels.csv')
dgB

    Image name  Retinopathy grade  Risk of macular edema
0    IDRiD_001                  4                       0
1    IDRiD_002                  4                       1
2    IDRiD_003                  4                       0
3    IDRiD_004                  4                       0
4    IDRiD_005                  4                       1
..         ...                ...                     ...
98   IDRiD_099                  0                       0
99   IDRiD_100                  2                       1
100  IDRiD_101                  1                       0
101  IDRiD_102                  2                       2
102  IDRiD_103                  0                       0

[103 rows x 3 columns]

In [64]:
#EXCLUIR COLUNAS VAZIAS

# Remover as colunas a partir da 4 coluna
dgA = dgA.iloc[:, :3]

dgA

    Image name  Retinopathy grade  Risk of macular edema
0    IDRiD_001                  3                       2
1    IDRiD_002                  3                       2
2    IDRiD_003                  2                       2
3    IDRiD_004                  3                       2
4    IDRiD_005                  4                       0
..         ...                ...                     ...
408  IDRiD_409                  2                       1
409  IDRiD_410                  2                       0
410  IDRiD_411                  2                       0
411  IDRiD_412                  2                       0
412  IDRiD_413                  2                       0

[413 rows x 3 columns]